@use '../../../styles/variables';
@use '../../../styles/mixins';

.create-modal{
    width: 440px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: variables.$wild-white;
    @include mixins.box-shadow(0, 8, 50, -5, variables.$wild-grey);
}

.input-container{
    width: 100%;
    height: 40px;
    margin: 15px 0px;
    &:focus{
        border: 2px solid variables.$wild-yellow;
    }
}

.code-content{
    width: 200px;
    height: 6vh;
    background-color: variables.$wild-grey;
    color: variables.$wild-black;
}

.code-modal{
    width: 400px;
    height: 111px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: variables.$wild-white;
    @include mixins.box-shadow(0, 8, 50, -5, variables.$wild-grey);
}

.format-instructions {
    margin-top: 8px;
    font-size: 14px;
    color: gray;
  }
  