@use '../../../styles/variables';
@use '../../../styles/mixins';

.option-modal{
    width: 50vw;
    height: 80vh;
    max-height: 80vh;
    overflow-y: auto;
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    padding: 2rem;
    transform: translate(-50%, -50%);
    background-color: variables.$wild-white;
    @include mixins.box-shadow(0, 8, 50, -5, variables.$wild-grey);
}