@use './variables';
@use './mixins';

.parent {
    width: 268px;
    height: 100%;
    background-color: variables.$white;
    font-size: 18px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.title {
    font-size: 26px;
    width: 118px;
    height: 40px;
    display: flex ;
    margin-top: 75px;
    margin-bottom: 85px;
    &::before {
        content: "";
        background-image: url("../Images/WFLogo.png");
        background-size: contain;
        width: 40px;
        height: 40px;
        margin-right: 6px
    }
        
}

.classes{
    @include mixins.button(class);
}

.peers{
    @include mixins.button(peer);
}

.profile{
    @include mixins.button(profile);
}

.logout{
    @include mixins.logout;
}

.students{
    @include mixins.button(students);
}

.teams{
    @include mixins.button(teams);
}

.delete{
    @include mixins.button(delete);
}