//Colors
$brownish: #9c7b16;
$light-yellowish: #FFF8DE;
$yellowish: #fecc00;
$black: #000000 ;
$white: #fff;
$grey: #B3B3B3;
$light-grey: #F3F3F3;
$red: #FF0000;

//Icons
$icons: (
    class: url("../Images/class.png"), 
    class-select: url("../Images/class-hover.png"), 
    peer: url("../Images/peer.png"), 
    peer-select: url("../Images/peer-hover.png"),
    profile: url("../Images/profile.png"),
    profile-select: url("../Images/profile-hover.png"),
    logout: url("../Images/logout.png"),
    teams: url("../Images/teams.png"),
    teams-select: url("../Images/teams-hover.png"),
    delete: url("../Images/delete.png"),
    delete-select: url("../Images/delete-hover.png"),
    students: url("../Images/students.png"),
    students-select: url("../Images/students-hover.png"),
);