@use '../../../styles/variables';
@use '../../../styles/mixins';

*,*:focus,*:hover{
    outline:none;
}

.grey-text{
    color: variables.$wild-grey;
}

.btn-add-primary{
    background-color: variables.$wild-yellow;
    color: variables.$wild-white;
    height: 40px;
    width: 40px;

    &:hover{
        background-color: variables.$shadow-wild-yellow;
        color: variables.$wild-black;
    }
}

.btn-yellow-primary {
    background-color: variables.$wild-yellow;
    color: variables.$wild-white;
    outline: none;
    border: none;

    &:hover{
        background-color: variables.$shadow-wild-yellow;
        color: variables.$wild-black;
    }
}