@use '../../../styles/variables';
@use '../../../styles/mixins';

.notifs-modal{
    width: 25vw;
    height: 70vh;
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    background-color: variables.$wild-white;
    @include mixins.box-shadow(0, 8, 50, -5, variables.$wild-grey);
}