@use '../../../styles/variables';
@use '../../../styles/mixins';

.notif-bar {    
    width: 100%;
    height: 2rem;
    position: fixed;
    z-index: 1100;
    top: 0;
    left: 0;
    background-color: variables.$wild-brown;
    @include mixins.box-shadow(0, 8, 50, -5, variables.$wild-grey);
}