@use '../../styles/variables';
@use '../../styles/mixins';

.nav-bar{
    width: 261px;
    height: 100vh;
    background-color: variables.$wild-nav-white;
}

.nav-button {
    color: variables.$wild-brown;
    text-decoration: none;
    font-size: 18px;
    &:hover {
      background-color: variables.$wild-yellow;
      color: variables.$wild-white;
      cursor: pointer;
    }
    &.selected{
      background-color: variables.$wild-yellow;
      color: variables.$wild-white;
      cursor: pointer;
    }
}