@use '../../../styles/variables';
@use '../../../styles/mixins';

.table-body{
    height: 100%;
}

.subheader-body{
    width: 100%;
}

.add-btn-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0%;
    left: 55%;
    transform: translate(-50%, -50%);
}