@use '../../../styles/variables';
@use '../../../styles/mixins';

.join-class-modal {    
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: variables.$wild-white;
    @include mixins.box-shadow(0, 8, 50, -5, variables.$wild-grey);
}

.join-class-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
}